<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>About Us</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
<body>
        
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li> 
                                <li class="nav-item active"><a class="nav-link" href="about-us.html">About</a></li> 
                                <li class="nav-item"><a class="nav-link" href="causes.html">Causes</a>
                            </ul>
                        </div> 
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
        
    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>About Us</h2>
                    <p>Seelife is an NGO in India directly benefitting over 4000 children and their families every year, through more than 80 live welfare projects on education, livelihood and poverty .</p>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
        <div class="container">
            <div class="row">	
                <div class="single_about row">
                    <div class="col-lg-6 col-md-12 text-center about_left">
                        <div class="about_thumb">
                            <img src="img/about-img.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about_right">
                        <div class="about_content">
                            <h2>
                                We are nonprofit team <br>
                                    and work worldwide
                            </h2>
                            <p>
                                    Seelife is an NGO in India directly benefitting over 4000 children and their families every year, through more than 80 live welfare projects on education, livelihood and poverty .
	
                                    Education is both the means as well as the end to a better life: the means because it empowers an individual to earn his/her livelihood and the end because it increases one's awareness on a range of issues – from healthcare to appropriate social behaviour to understanding one's rights – and in the process help him/her evolve as a better citizen.
                            </p>
                            <p>
                                    Doubtless, education is the most powerful catalyst for social transformation. But child education cannot be done in isolation. A child will go to school only if the family is assured of healthcare and financial conditions. Moreover, when an elder sibling is relevantly skilled to be employable and begins earning, the journey of empowerment continues beyond the present generation. 
                            </p>
                            <!-- <a href="#" class="primary_btn">Learn more</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Us Area =================-->

	<!--================Team Area =================-->
	<section class="team_area section_gap">
			<div class="container">
				<div class="main_title">
					<h2>Meet our volunteer</h2>
					<p>Volunteers are paid in six figures... S‑M‑I‑L‑E‑S :) </p>
				</div>
				<div class="row team_inner">
					<div class="col-lg-3 col-md-6">
						<div class="team_item">
							<div class="team_img">
								<img class="img-fluid" src="img/voluteer/v1.jpg" alt="">
							</div>
							<div class="team_name">
								<h4>Amogh Parab</h4>
								<p>Marketing Head at Omic Sales and Services</p>
								<p class="mt-20">
									
								</p>
								<div class="social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#" class="active"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-envelope-o"></i></a>
								</div>
							</div>
						</div>
					</div>
	
					<div class="col-lg-3 col-md-6">
						<div class="team_item">
							<div class="team_img">
								<img class="img-fluid" src="img/voluteer/v2.jpg" alt="">
							</div>
							<div class="team_name">
								<h4>Jashan Singh</h4>
								<p>Chief Executive Officer at EduWorld</p>
								<p class="mt-20">
								</p>
								<div class="social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#" class="active"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-envelope-o"></i></a>
								</div>
							</div>
						</div>
					</div>
	
					<div class="col-lg-3 col-md-6">
						<div class="team_item">
							<div class="team_img">
								<img class="img-fluid" src="img/voluteer/v3.jpg" alt="">
							</div>
							<div class="team_name">
								<h4>Anshul Singhal</h4>
								<p>Director at UTV Movies</p>
								<p class="mt-20">
									</p>
								<div class="social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#" class="active"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-envelope-o"></i></a>
								</div>
							</div>
						</div>
					</div>
	
					<div class="col-lg-3 col-md-6">
						<div class="team_item">
							<div class="team_img">
								<img class="img-fluid" src="img/voluteer/v4.jpg" alt="">
							</div>
							<div class="team_name">
								<h4>Louis Litt</h4>
								<p>Chief Operating Officer at Pearson Hardmann</p>
								<p class="mt-20">
								</p>
								<div class="social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#" class="active"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-envelope-o"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <!--================End Team Area =================-->

	
    <!--================ Start footer Area  =================-->	
    <footer>
			<div class="footer-area">
				<div class="container">
					<div class="row section_gap">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-footer-widget tp_widgets">
								<h4 class="footer_title large_title">Our Mission</h4>
								<p>
									Our aim to help as many number of helpless and needy people as possible, to make the world a better place for them to live in. The basic needs they require to survive can be fulfilled by us, just by contributing a little part from our lives !
								</p>
								<p>
									Let's become a part of this initiative, as helping one person might not change the whole world, but it can change the whole world for a person !
								</p>
							</div>
						</div>
						<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget tp_widgets">
								<h4 class="footer_title">Quick Links</h4>
								<ul class="list">
									<li><a href="#">Home</a></li>
									<li><a href="#">About</a></li>
									<li><a href="#">Causes</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget instafeed">
								<h4 class="footer_title">Gallery</h6>
								<ul class="list instafeed d-flex flex-wrap">
									<li><img src="{% static 'img/gallery/g1.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/gallery/g2.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/gallery/g3.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/gallery/g4.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/gallery/g5.jpg' %]" alt=""></li>
									<li><img src="{% static 'img/gallery/g6.jpg' %}" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
							<div class="single-footer-widget tp_widgets">
								<h4 class="footer_title">Contact Us</h4>
								<div class="ml-40">
									<p class="sm-head">
										<span class="fa fa-location-arrow"></span>
										Head Office
									</p>
									<p>123, High Street, Mumbai</p>
		
									<p class="sm-head">
										<span class="fa fa-phone"></span>
										Phone Number
									</p>
									<p>
										+9619507113 <br>
										+9619861425
									</p>
		
									<p class="sm-head">
										<span class="fa fa-envelope"></span>
										Email
									</p>
									<p>
										info@seelife.com <br>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			
		</footer>
    <!--================ End footer Area  =================-->  
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/stellar.js' %}"></script>
	<script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
	<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/mail-script.js' %}"></script>
	<script src="{% static 'js/countdown.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
    </body>
</html>