<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>Causes</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
<body>
        
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li> 
                                <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li> 
                                <li class="nav-item active"><a class="nav-link" href="causes.html">Causes</a>
                            </ul>
                        </div> 
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
        
    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Causes</h2>
                    <p>Your one step may convert into a lifeline !</p>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->
	
	<!--================ Start Causes Area =================-->
	<section class="causes_area">
			<div class="container">
				<div class="main_title">
					<h2>Our major causes</h2>
					<p>Cause these causes can pause the problems in one's life  ! </p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single_causes">
							<h4>Give Donation</h4>
							<img src="img/causes/c1.png" alt="">
							<p>
								We have a responsibility to care for other people, to help those less fortunate than ourselves. When we have some spare cash, time or goods, it is an opportunity to help!	
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single_causes">
							<h4>Give Inspiration</h4>
							<img src="img/causes/c2.png" alt="">
							<p>
								One of the best gifts one can give to the world is the will to do a good deed. Motivating someone might completely change their way of living! 	
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single_causes">
							<h4>Become Bolunteer</h4>
							<img src="img/causes/c3.png" alt="">
							<p>
								A few drops of blood may not kill you, but might save many! Blood donation is equivalent to life donation. Don't be afraid, please BOLUNTEER!
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
    <!--================ End Causes Area =================-->

	<!--================ Start Features Cause section =================-->
	<section class="features_causes">
			<div class="container">
				<div class="main_title">
					<h2>Featured causes</h2>
					<p>Doing Well By Doing Good ! </p>
				</div>
	
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="card">
							<div class="card-body">
								<figure>
									<img class="card-img-top img-fluid" src="img/features/fc1.jpg" alt="Card image cap">
								</figure>
								<div class="card_inner_body">
									<h4 class="card-title">Education for every child</h4>
									<p class="card-text">
											Education is an essential tool for bright future for all of us. We can achieve anything good in the life by education.So why only we, if we can for others too ! 	
									</p>
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="card">
							<div class="card-body">
								<figure>
									<img class="card-img-top img-fluid" src="img/features/fc2.jpg" alt="Card image cap">
								</figure>
								<div class="card_inner_body">
									<h4 class="card-title">Feeding the hungry people</h4>
									<p class="card-text">
										Food is the most essential part of life. Starvation is the worst feeling that can be experienced,ever! Let's save one, by feeding one!
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="card">
							<div class="card-body">
								<figure>
									<img class="card-img-top img-fluid" src="img/features/fc3.jpg" alt="Card image cap">
								</figure>
								<div class="card_inner_body">
									<h4 class="card-title">Providing cloth people</h4>
									<p class="card-text">
										Ever been in a shivering, chilled atmosphere? Just imagine how the poor would have to bear the extreme conditions! Let's aim to become their life-saviours!
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <!--================ End Features Cause section =================-->

	        
    <!--================ Start footer Area  =================-->	
    <footer>
			<div class="footer-area">
				<div class="container">
					<div class="row section_gap">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="single-footer-widget tp_widgets">
								<h4 class="footer_title large_title">Our Mission</h4>
								<p>
									Our aim to help as many number of helpless and needy people as possible, to make the world a better place for them to live in. The basic needs they require to survive can be fulfilled by us, just by contributing a little part from our lives !
								</p>
								<p>
									Let's become a part of this initiative, as helping one person might not change the whole world, but it can change the whole world for a person !
								</p>
							</div>
						</div>
						<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget tp_widgets">
								<h4 class="footer_title">Quick Links</h4>
								<ul class="list">
									<li><a href="#">Home</a></li>
									<li><a href="#">About</a></li>
									<li><a href="#">Causes</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget instafeed">
								<h4 class="footer_title">Gallery</h6>
								<ul class="list instafeed d-flex flex-wrap">
									<li><img src="{% static 'img/gallery/g1.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/gallery/g2.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/gallery/g3.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/gallery/g4.jpg' %}" alt=""></li>
									<li><img src="{% static 'img/gallery/g5.jpg' %]" alt=""></li>
									<li><img src="{% static 'img/gallery/g6.jpg' %}" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
							<div class="single-footer-widget tp_widgets">
								<h4 class="footer_title">Contact Us</h4>
								<div class="ml-40">
									<p class="sm-head">
										<span class="fa fa-location-arrow"></span>
										Head Office
									</p>
									<p>123, High Street, Mumbai</p>
		
									<p class="sm-head">
										<span class="fa fa-phone"></span>
										Phone Number
									</p>
									<p>
										+9619507113 <br>
										+9619861425
									</p>
		
									<p class="sm-head">
										<span class="fa fa-envelope"></span>
										Email
									</p>
									<p>
										info@seelife.com <br>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			
		</footer>
    <!--================ End footer Area  =================-->  
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/stellar.js' %}"></script>
	<script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
	<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/mail-script.js' %}"></script>
	<script src="{% static 'js/countdown.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
    </body>
</html>