body {
    overflow-x: hidden;
}

.logo {
    height: 5.5rem;
    padding: auto;
}

.sidebar {
    width: inherit;
    height: 100vh;
    border-right: 1px solid #e9ecef;
}

.spliter {
    border: 2px solid #e9ecef;
}